@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--font-family: 'Ubuntu', sans-serif;
	--font-logo: 'Rubik Doodle Shadow', sans-serif;
	--roboto: 'Roboto', sans-serif;

	--gradient-text: linear-gradient(
		90deg,
		rgba(30, 29, 29, 1) 0%,
		rgba(50, 50, 50, 1) 100%
	);
	--gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

	--color-bg: rgb(240, 250, 255);
	--color-footer: #031b34;
	--color-blog: #042c54;
	--color-text: #81afdd;
	--bColor-text: #000;
	--color-subtext: #ff8a71;
}
